{% extends 'common/base.html' %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/common/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/common/layout.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/base.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/common.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s4 dash-menu-container hide-on-med-and-down p-2">
      <div class="soft-shadow side-menu">
        <ul>
          <li class="user-view-container">
            <div class="user-view">
              <div class="background">
                <i class="fa-solid fa-user fa-4x fa-secondary"></i>
              </div>

              <span class="name">{{user.first_name}} {{user.last_name}}</span><br>
              <span class="email">{{user.email}}
              </span>
            </div>
          </li>
          <li>
            <a class="waves-effect"
              href="{% if request.path == '/accounts/dashboard/' %}#!{% else %} {% url 'accounts:dashboard' %}{% endif %}"><i
                class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i> Dashboard
            </a>
          </li>
          {% if user.type_of_user == 'EMPLOYER' %}
          <li>
            <a class="waves-effect"
              href="{% if request.path == '/job/create/' %}#!{% else %} {% url 'job:create_job' %}{% endif %}"><i
                class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i> Post Job
            </a>
          </li>
          <li>
            <a class="waves-effect"
              href="{% if request.path == '/job/jobs/view/' %}#!{% else %} {% url 'job:view_jobs' %}{% endif %}"><i
                class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i> My Jobs
            </a>
          </li>
          {% elif user.type_of_user == 'JOB_SEEKER' %}
          <li>
            <a class="waves-effect"
              href="{% if request.path == '/shortlist/my/applications/' %}#!{% else %} {% url 'shortlist:employee_applications' %}{% endif %}"><i
                class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i> My Jobs
            </a>
          </li>
          {% elif user.type_of_user == 'STAFF' %}
          <li>
            <a class="waves-effect"
              href="{% if request.path == '/shortlist/staff/applications/' %}#!{% else %} {% url 'shortlist:staff_shortlists' %}{% endif %}"><i
                class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i> My Applications
            </a>
          </li>
          {% endif %}
          <li>
            <div class="divider"></div>
          </li>
          <li><a class="subheader">Personal</a></li>
          <li>
            <a class="waves-effect"
              href="{% if request.path == '/accounts/change/email/' %}#!{% else %} {% url 'accounts:change_email' %}{% endif %}"><i
                class="fa-solid fa-gear"></i> Change Email
            </a>
          </li>
          <li>
            <a class="waves-effect"
              href="{% if request.path == '/accounts/change-password/' %}#!{% else %} {% url 'accounts:change_password' %}{% endif %}"><i
                class="fa-solid fa-gear"></i> Change Password</a>
          </li>
          <li>
            <a class="waves-effect" href="{% url 'accounts:logout' %}"><i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col m8 l8 s12">
      <div class="wrapper">
        {% block account_content %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/common/material_init.js' %}"></script>
{% endblock %}