{% extends 'common/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/common/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/common/layout.css' %}">
{% endblock %}
{% block header %}

<!-- Navbar -->
<nav id="main-navbar" class="navbar navbar-expand-lg fixed-top">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand px-5" href="#">
      <img src="#" height="25" alt="" loading="lazy" />Logo
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
      aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Right links -->
    <ul class="navbar-nav ms-auto d-flex flex-row">
      <!-- Notification dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">Some news</a></li>
          <li><a class="dropdown-item" href="#">Another news</a></li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
        </ul>
      </li>

      <!-- Avatar -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22" alt=""
            loading="lazy" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{% url 'accounts:dashboard' %}">My profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a href="#" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
      </a>
      <a href="{% url 'backup:backup' %}" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fa-solid fa-database fa-fw me-3"></i><span>Backup</span></a>
      <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-building fa-fw me-3"></i><span>Partners</span></a>
      <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-calendar fa-fw me-3"></i><span>Calendar</span></a>
      <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-users fa-fw me-3"></i><span>Staff</span></a>

    </div>
  </div>
</nav>
{% endblock %}