{% extends 'accounts/common/accounts_base.html' %}
{% block title %}Change Email{% endblock %}
{% load static %}
{% block styles %}
{{ block.super }}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QQKGP6M8ZV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QQKGP6M8ZV');
</script>

<link rel="stylesheet" href="{% static 'css/common/inputs.css' %}" />
<link rel="stylesheet" href="{% static 'css/accounts/profile/common.css' %}" />
{% endblock %}
{% block account_content %}
<div class="soft-shadow form-container">
    <h4 class="form-title">Post Job</h4>
    <div class="form-wrapper">
        <div id="htmx-parent" class="htmx-parent">
            {% include 'job/partials/create_job.html' %}
        </div>
    </div>
</div>
{% endblock %}