{% extends 'accounts/common/accounts_base.html' %}
{% block title %}Update Resume{% endblock %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/common/inputs.css' %}" />
<link rel="stylesheet" href="{% static 'css/accounts/profile/common.css' %}" />
<link rel="stylesheet" href="{% static 'css/accounts/profile/resume.css' %}" />

{% endblock %}
{% block account_content %}
<div class="soft-shadow form-container">
    <h4 class="form-title">Update Resume</h4>
    <div class="form-wrapper">
        <div id="htmx-parent" class="htmx-parent">
            {% include 'accounts/profile/partials/update_resume.html' %}
        </div>
    </div>
</div>
{% endblock %}