{% extends 'accounts/common/accounts_base.html' %}
{% block title %}Change Email{% endblock %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/common/inputs.css' %}" />
<link rel="stylesheet" href="{% static 'css/accounts/profile/common.css' %}" />
{% endblock %}
{% block account_content %}
<div class="soft-shadow form-container">
    <h4 class="form-title">Change Password</h4>
    <div class="form-wrapper">
        <div id="htmx-parent" class="htmx-parent">
            <div class="row">
                <form action="{% url 'accounts:change_password' %}" method="post" class="auth-form">
                    {% csrf_token %}
                    <div class="input-field input-row col s12">
                        <input required id="old_password" type="password" class="validate" name="old_password"
                            autofocus>
                        <label for="old_password">Current Password</label>
                        <div class="error-container">
                            {% for error in form.old_password.errors %}
                            <p class="error e">{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="input-field input-row col s12">
                        <input required id="new_password1" type="password" class="validate" name="new_password1"
                            autofocus>
                        <label for="new_password1">New Password</label>
                        <div class="error-container">
                            {% for error in form.new_password1.errors %}
                            <p class="error e">{{ error|escape }}</p>
                            {% endfor %}
                        </div>
                    </div>
                        <div class="input-field input-row col s12">
                            <input required id="new_password2" type="password" class="validate" name="new_password2" autofocus>
                            <label for="new_password2">Confirm Password</label>
                            <div class="error-container">
                                {% for error in form.new_password2.errors %}
                                <p class="error e">{{ error|escape }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    <div class="row">
                        <div class="input-field input-row col s12">
                            <button type="submit" class="btn btn-primary">Change</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}