[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
pillow = "*"
django-storages = "*"
google-cloud-storage = "*"
coverage = "*"
django-recaptcha = "==3.0.0"
django-htmx = "==1.14.0"
install = "*"
django-countries = "==7.5.1"
phone-iso3166 = "*"
emoji-country-flag = "*"
pycountry = "*"
requests = "==2.28.2"
psycopg2-binary = "==2.9.6"
django-ckeditor = "==6.5.1"
whitenoise = "*"

[dev-packages]
pycodestyle = "*"
flake8 = "*"
pylint-django = "*"
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
