{% extends 'common/base.html' %}
{% block title %}Testimony: {{testimony.witness.get_full_name}}{% endblock %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/testimonials/index.css' %}">
{% endblock %}
{% block content %}

<section class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="section-title">
                {{testimony.witness.get_full_name}}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card horizontal z-depth-0">
                <div class="card-image">
                    {% if testimony.witness.avatar %}
                    <img src="{{testimony.witness.avatar.url}}" height="250px">
                    {% else %}
                    <img src="{% static 'images/common/user.png' %}" height="150px">
                    {% endif %}
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p><b>Nationality: </b>{{testimony.witness.nationality}}</p>
                        <p><b>Service: </b>{{testimony.witness.service_type}}</p>
                        <p><b>Country: </b>{{testimony.witness.preferred_country}}</p>
                        <p>
                            {{testimony.testimony|safe}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}