.card {
    border: solid 0.05em #DCDCDC;
}

.truncated {
     overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3;
   -webkit-box-orient: vertical;
}

@media screen and ( max-width: 600px ){
  .card.horizontal {
    flex-direction: column;
  }
  .card .card-image{
    max-width: 100% !important;
  }
  .card .card-image img{
    width: 100% !important;
    width: 100%;
  }
}