{% extends 'accounts/common/accounts_base.html' %}
{% block title %}Dashboard{% endblock %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/accounts/dashboard.css' %}">
{% endblock %}
{% block account_content %}
<div class="row">
    <div class="col s12">
        <div class="soft-shadow cards-container">
            <h4>Profile Information</h4>
            <div class="row">
                <div class="col s12">
                    <div class="card bg-primary-light-4 z-depth-0">
                        <div class="card-content white-text">
                            <span class="card-title">Personal Information</span>
                            <p><b>First Name:</b> {{user.first_name}}</p>
                            <p><b>Last Name:</b> {{user.last_name}}</p>
                            <p><b>Email:</b> {{user.email}}</p>
                            <p><b>Gender:</b> {{user.gender}}</p>
                            <p><b>Country Code:</b> +{{user.country_code}}</p>
                            <p><b>Phone Number:</b> {{user.phone_number}}</p>
                            <p><b>Service Type:</b> {{user.service_type}}</p>
                            <p><b>Preferred Country:</b> {{user.preferred_country}}</p>

                        </div>
                        <div class="card-action">
                            <a href="{% url 'accounts:update_personal_info' pk=request.user.pk %}">Edit Personal
                                Information</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card bg-primary-light-4 z-depth-0">
                        <div class="card-content white-text">
                            <span class="card-title">Basic Information</span>
                            <p><b>Nationality:</b> {{user.nationality}}</p>
                            <p><b>Country of Residence:</b> {{user.country_of_residence}}</p>
                            <p><b>Service Type:</b> {{user.date_of_birth}}</p>
                            <p><b>Highest Level of Education:</b> {{user.highest_level_of_education}}</p>
                            <p><b>Years of Work Experience:</b> {{user.years_of_work}}</p>
                            <p><b>Type of Visa:</b> {{user.type_of_visa}}</p>


                        </div>
                        <div class="card-action">
                            <a href="{% url 'accounts:update_basic_info' pk=request.user.pk %}">Edit Basic
                                Information</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card bg-primary-light-4 z-depth-0">
                        <div class="card-content white-text">
                            <span class="card-title">Resume</span>
                            <p><b></b> <a href="{{user.resume.url}}" target="_blank" class="link white-text"><b>Your
                                        Resume <i class="fa-solid fa-link"></i></b></a></p>
                            <p><b>LinkedIn Url:</b> {{user.linkedin_url}}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'accounts:update_resume' pk=request.user.pk %}">Edit Resume</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="card bg-primary-light-4 z-depth-0">
                        <div class="card-content white-text">
                            <span class="card-title">Mode of Contact</span>
                            <p><b>Mode of Contact:</b> {{user.mode_of_contact}}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'accounts:update_mode_of_contact' pk=request.user.pk %}">Edit Mode of Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}