{% extends 'common/base.html' %} {% block title %}Login{% endblock %} {% load static %} {% load i18n %}
{% block styles %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/accounts/login.css' %}" />
{% endblock %} {% block content %}
<section class="h-100" style="background-color: #eee">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col s10 m8 push-m2 push-s1 h-100">
				<div class="soft-shadow form-container">
					<h4>Login <i class="fa-solid fa-right-to-bracket"></i></h4>
					<form action="{% url 'accounts:login' %}" method="post">
						{% csrf_token %}
						<div class="input-field d-flex align-items-center">
							<div class="error-container">
								{% if form.errors %}
								<p class="error">
									<strong>{% trans "Please correct the errors in the form below." %}</strong>
								</p>
								{% endif %} {% for error in form.non_field_errors %}
								<p class="error">{{ error|escape }}</p>
								{% endfor %}
							</div>
						</div>

						<div class="input-field d-flex align-items-center">
							<i class="fas fa-envelope fa-lg fa-2xl"></i>
							<input type="email" name="username" id="email" class="validate flex-1"
								placeholder="Your Email" />
						</div>

						<div class="input-field d-flex align-items-center">
							<i class="fas fa-lock fa-lg fa-2xl"></i>
							<input type="password" name="password" id="password" class="validate flex-1"
								placeholder="Password" />
						</div>
						<div class="d-flex">
							<p>
								<label>
									<input type="checkbox" checked="checked" name="remember_me" id="terms" />
									<span>{% trans "Remember me?" %}</span>
								</label>
							</p>
						</div>

						<div class="d-flex">
							<label class="form-check-label" for="form2Example3">
								Need to create an account?
								<a href="{% url 'accounts:job_seeker_registration' %}">Sign up as a job seeker</a>
								or
								<a href="{% url 'accounts:employer_registration' %}">sign up as an employer</a>
							</label>
						</div>

						<div class="d-flex">
							<label class="form-check-label" for="form2Example3">
								Forgot Password?
								<a href="{% url 'accounts:reset_password' %}">Reset</a>
							</label>
						</div>

						<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
							<button type="submit" class="btn btn-primary btn-lg">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}