.links {
	list-style-type: none;
}
nav {
	/* line-height: unset;
    height: unset; */
	background-color: inherit;
	box-shadow: unset;
}

.nav-container {
	border-bottom: solid 0.05em var(--color-primary);
}

nav .brand-logo {
	position: relative;
}

.brand-logo {
	display: unset;
}

#closeMessagesIcon {
	cursor: pointer;
	transform: scale(1.3);
}

@media only screen and (max-width: 600px) {
	.sidenav li {
		line-height: unset !important;
	}
	.sidenav .user-view .background {
		position: unset !important;
	}
}
