.links {
    list-style-type: none;
}
nav {
    /* line-height: unset;
    height: unset; */
    background-color: inherit ;
    box-shadow: unset;
}

.nav-container {
    border-bottom: solid 0.05em var(--color-primary);
}

nav .brand-logo {
    position: relative;
    /* line-height: 64px; */
}

.brand-logo {
    display: unset;
}