.links {
	list-style-type: none;
}
nav {
	/* line-height: unset;
    height: unset; */
	background-color: inherit;
	box-shadow: unset;
}

.nav-container {
	border-bottom: solid 0.05em var(--color-primary);
}

nav .brand-logo {
	position: relative;
}

.brand-logo {
	display: unset;
}

#closeMessagesIcon {
	cursor: pointer;
	transform: scale(1.3);
}

 nav ul a {
	/* padding: 0 5px !important; */
	font-size: 1.1rem;
}

.sidenav .user-view .background{
	position: relative;
	z-index: 1;
}

.sidenav li{
	line-height: 24px;
}


.btn-flat-2, .btn-flat-2:hover, .btn-flat-2:focus {
   background: none !important;
   height: 100%;
   line-height: 64px;
}

nav .btn{
	border: none !important;
	border-width: 0 !important;
	font-size: 1.1rem;
	text-transform: unset;
	color: var(--color-secondary);
}

nav ul a.btn {
    margin-left: unset;
    margin-right: unset;
}

nav .dropdown-content {
	width: auto;
}

.dropdown-content li>a {
	color: var(--color-primary);
}


@media only screen and (max-width: 600px) {
	.sidenav li {
		line-height: unset !important;
	}
	.sidenav .user-view .background {
		position: unset !important;
	}
}

@media only screen and (max-width: 1024px) {

}