
#botModal{
    width: 400px;
    right: 16%;
    bottom: 0;
    left: unset;
    height: 400px;
}

#botLink{
    position: fixed;
    bottom: 40px;
    right: 15%;
    z-index: 1003;
}

.bot-modal {
    position: fixed;
    bottom: 80px;
    right: 5%;
    z-index: 1003;
    width: 400px;
    border-radius: 5px;
}


.modal-close {
    color: white;
}

.hidden {
    display: none;
}
#chat-header {
    color: white;
}
#chat-subheader i {
    color: #4caf50;
}

.chat {
    background: white;
    height: 400px;
    background-color: #F0F8FF;
}

#chat-log{
    overflow-y: scroll;
    height: 100%;
}

#chatMessage ::placeholder {
    color: #eb7f66;
}


.chat-log, #chatMessage{
    color: #606060;
}

.chat-head {
    line-height: 50px;
}
