/* .input-field input[type="text"] + label,
.input-field input[type="number"] + label,
.input-field input[type="password"] + label,
.input-field input[type="email"] + label,
.input-field textarea + label{

} */
.input-field input[type="text"],
.input-field input[type="number"],
.input-field input[type="password"],
.input-field input[type="email"],
.input-field textarea {
	border: solid 0.05em #f2f2f2 !important;

}

.input-field input[type="text"]:hover,
.input-field input[type="number"]:hover,
.input-field input[type="password"]:hover,
.input-field input[type="email"]:hover,
.input-field textarea:hover {
	border: solid 0.05em #ee917c !important;
}

.input-field input[type="text"]:focus,
.input-field input[type="number"]:focus,
.input-field input[type="password"]:focus,
.input-field input[type="email"]:focus,
.input-field textarea:focus {
	border: solid 0.05em #ee917c !important;
	box-shadow: none !important;
}
textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
	height: unset;
}
select.show_select {
	display: block;
}

select.invalid {
	border-color: #f44336;
}
