:root {
	--font-headline: "Noto Sans", sans-serif;
	--font-normal: "Mukta", sans-serif;
    --color-primary: #1B3F6B;
    --color-primary-light-10: #e8ecf0;
    --color-primary-light-2: #32527a;
    --color-primary-light-4: #5f7997;

    --color-secondary: #E34824;
    --color-secondary-2: #FDA828;
    --color-secondary-light-5:#ee917c;
    --color-secondary-light-8:#f7c8bd;
    --color-secondary-light-10:#fcede9;
    --color-alice-blue:#F0F8FF;
    --color-alice-light-3: #f3f9ff;

}

.alice-blue {
    color: var(--color-alice-blue);
}

.bg-alice-blue {
    background-color: var(--color-alice-blue);
}

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.bg-primary{
    background-color: var(--color-primary) !important;
}

.bg-primary-light-10{
    background-color: var(--color-primary-light-10) !important;
}

.bg-primary-light-2{
    background-color: var(--color-primary-light-2) !important;
}

.bg-primary-light-4{
    background-color: var(--color-primary-light-4) !important;
}

.bg-alice-light-3{
    background-color: var(--color-alice-light-3) !important;
}

.bg-secondary{
    background-color: var(--color-secondary);
}

h1,
h2,
h3 {
	font-family: var(--font-headline);
}

h4,
h5,
p,
ul,
label,
a,
span,
summary,
input {
	font-family: var(--font-normal);
}


body, .custom-scroll{
    overflow-y: auto;
    --scrollbarBG: rgba(0, 0, 0, 0);
    --thumbBG: #787878;
    scrollbar-width: thin;
}

body::-webkit-scrollbar, .custom-scroll::-webkit-scrollbar {
    width: 11px;
    height: 40px;

}

body::-webkit-scrollbar-track, .custom-scroll:-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb, .custom-scroll::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.success {
    color: #00bd7a;
}