{% extends 'common/base.html' %}
{% block title %}About{% endblock %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/careers/index.css' %}">
{% endblock %}
{% block content %}

<section class="container d-flex flex-column h-100">
  <div class="row">
    <div class="col s12">
      <h4 class="section-title">
        Current Openings
      </h4>
    </div>
  </div>

  {% if paginator.count > 0 %}
  <div class="row">
    <div class="col s12">
      <p class="m-0">Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
      <p class="small">
        {% with page_obj|length as records %}
        {{records}} job{{ records|pluralize }} of {{records}}
        {% endwith %}
      </p>
    </div>
  </div>
  {% endif %}

  <div class="row content-row">
    <div class="col s12">
      <ul>
      {% for career in careers %}
        <li>
            <a href="#" class="link">{{career}}: Read More</a>
        </li>
      {% empty %}
      <p>Hold on, we are setting things up.</p>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row page-numbers">
    <div class="col s12">
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          {% if not form.errors %}
          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% endif %}

          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </div>
  </div>

</section>


{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}