DOCKERFILE=('Dockerfile.prod')
ROK8S_DOCKER_BUILD_EXTRAARGS=("")
EXTERNAL_REGISTRY_BASE_DOMAIN=("gcr.io/${GCP_PROJECT}")
REPOSITORY_NAME="talent"
DOCKERTAG=("${EXTERNAL_REGISTRY_BASE_DOMAIN}/${REPOSITORY_NAME}")
CI_SHA1=("${CIRCLE_SHA1}")
CI_BUILD_NUM=("${CIRCLE_BUILD_NUM}")
CI_BRANCH=("${CIRCLE_BRANCH}")