.background-image {
    visibility:visible;
}
.carousel-wrapper {
    height: 300px;
    padding: 0 15%;
}

.card .card-content p{
    margin: 20px 0;
}

.upper-cards {
    gap: 5%;
}

.upper-cards .card {
    flex-basis: 50%;
}

.border {
    border: dashed 0.1em #C0C0C0;
    padding: 50px;
}

@media screen and ( max-width: 600px ){
    .carousel-wrapper {
        /* height: 200px; */
        padding: 0 5%;
    }
    .upper-cards {
        flex-direction: column;
    }
}