{% extends 'common/base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/common/hero.css' %}">
<link rel="stylesheet" href="{% static 'css/index/index.css' %}">
<link rel="stylesheet" href="{% static 'css/index/slick/slick.css' %}" />
<link rel="stylesheet" href="{% static 'css/index/slick/slick-theme.css' %}" />
<link rel="stylesheet" href="{% static 'css/index/slick/slick-customization.css' %}" />
{% endblock %}
{% block content %}
<section class="container-fluid background-image bg-primary"
    style="background-image: url('{% static 'images/index/city-min.webp' %}')">
    <div class="carousel-wrapper d-flex flex-column justify-content-center ">
        <div class="hero-carousel">
            {% for item in carousel_items %}
            <div class="hero-content ">
                <div class="slide-wrapper">
                    <h2 class="hero-title">{{item.title|safe}}</h2>
                    <p class="hero-text">{{item.subtitle|safe}}</p>
                    <div class="d-flex flex-buttons">
                        {% for action in item.actions.all %}
                        <a href="{{action.link}}"
                            class="{% if action.is_outlined %}btn btn-outlined outlined-secondary{% else %}btn btn-secondary{% endif %}"
                            type="button">{{action.title}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="container py-2 services">
    <div class="row">
        <div class="col s12">
            <h3 class="section-title">Our <span class="text-secondary">Services</span></h3>
            <p>
                Our goal at Infinite Talent Limited is to help companies in assembling teams
                of highly competent and effective
                employees while also assisting employees by expanding their options for employment. We take delight in
                assisting in the
                development of the type of professional atmosphere that would realize the goal and vision around which
                businesses are
                based. Furthermore, the global marketplaces in which we compete are very diverse and dynamic. We
                currently make sales
                appearances in important cities like China, Malaysia, Singapore, Malaysia, the United Arab Emirates,
                Dubai, Qatar, and more.
            </p>
            <div class="cards">
                {% for service in services %}
                <div class="card z-depth-0">
                    <div class="card-image">
                        <div class="thumbnail-container">
                            <img src="{{service.thumbnail.url}}" class="service-thumbnail">
                        </div>
                        <span class="card-title card-title-with-hover bg-secondary">{{service.title|safe}}</span>
                    </div>
                    <div class="card-content truncate-four">
                        <p>{{service.epigraph}}</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'index:service' slug=service.slug %}">Read More</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="container-fluid py-2 bg-primary-light-10">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card z-depth-0">
                    <div class="d-flex about-card">
                        <div class="card-image">
                            <img src="{% static 'images/index/city-min.webp' %}" height="400">
                        </div>
                        <div class="card-content">
                            <h3 class="section-title"><span class="text-secondary">Who</span> we are</h3>
                            <p>
                                {{about.epigraph|safe}}
                            </p>
                            <div class="card-action">
                                <a href="{% url 'about:index' %}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container py-2">
    <div class="row">
        <div class="col s12">
            <h3 class="section-title">
                What makes us <span class="text-secondary">the best</span> in the industry?
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <div class="row col s12 m6">
                <p class="section-subtitle">
                    We are equipped with the necessary knowledge and market insights to assist both employers and
                    employees
                    in
                    assembling
                    world-class teams to meet their respective organizational goals. We specialize in a special kind of
                    service that
                    can
                    assist employees in developing their careers and relocating abroad. Companies that partner with us
                    have
                    the
                    chance to
                    realize the mission and vision upon which their businesses were founded.
                </p>
            </div>
            <div class="col s12 m6">
                <div class="summary pt-2">
                    <details class="mb-1">
                        <summary><i class="fa-solid fa-chevron-right fa-secondary me-2 chevron"></i>We put our
                            full effort into
                            serving you.</summary>
                        <p>We at Infinite Talent Limited work for you. Everything we do here is for our clients and is
                            geared
                            toward
                            them. To make
                            sure that our clients receive all the assistance and support they require, we frequently go
                            above
                            and
                            beyond the call of
                            duty and defy convention. We never take our clients for granted since we understand that
                            they
                            are
                            doing
                            us a favor by
                            giving us the chance to serve them. We never use inferior service choices and always present
                            the
                            greatest option to our
                            customers. Our employees are aware that our customers demand nothing less than the best from
                            us
                            and
                            that
                            we have a duty
                            to always give them first-rate service. And we never turn back from that.
                        </p>
                    </details>
                    <details class="mb-1">
                        <summary><i class="fa-solid fa-chevron-right fa-secondary me-2 chevron"></i>Our business
                            relationship is for
                            life</summary>
                        <p>
                            In contrast to the majority of other companies in the sector, we never ever end a client
                            connection.
                            We
                            always maintain
                            our clients' ties for a lifetime. We strive to provide even better services to everyone of
                            our
                            clients
                            because we care
                            about them and want to know how we have been able to influence their lives for the better.
                            Therefore, as
                            soon as you
                            enter our building to receive assistance from our staff, you become a member of our family
                            and
                            remain
                            so. You will
                            always be a part of our business in our memories and forever.

                        </p>
                    </details>
                    <details class="mb-1">
                        <summary><i class="fa-solid fa-chevron-right fa-secondary me-2 chevron"></i>Highest return on
                            your investment
                        </summary>
                        <p>
                            We never hesitate to go above and beyond to deliver any and all services we are capable of
                            to
                            our
                            clients in an effort
                            to assist them with the best services and provide the greatest value for their investments
                            with
                            us
                            in
                            terms of money,
                            time, and efforts. Each of our clients invests their hard-earned money in their decision to
                            study,
                            immigrate, and settle
                            in a foreign country, and they come to us because they have confidence in us with their
                            money.
                            We
                            never
                            fail to keep
                            this promise, and we always make sure that every dollar you invest with us is wisely used
                            and
                            properly
                            recorded.
                        </p>
                    </details>
                    <details class="mb-1">
                        <summary><i class="fa-solid fa-chevron-right fa-secondary me-2 chevron"></i>Life changing career
                            advise
                        </summary>
                        <p>
                            We offer a wide range of incredibly specialized and tailored counseling services to all of
                            our
                            clients
                            as a worldwide
                            renowned and acknowledged provider of career support services. Your life will undoubtedly
                            change
                            for
                            the
                            better as a
                            result of these counseling sessions, which are provided by some of the most perceptive,
                            wise,
                            and
                            experienced counselors
                            with in-depth knowledge of a variety of academic and career alternatives. You can comprehend
                            your
                            job
                            prospects,
                            immigration options, and settlement options in the best ways possible for you and your needs
                            with
                            the
                            aid of
                            well-oriented and well-realized counseling services. Simply choose the option you believe is
                            best
                            for
                            you.
                        </p>
                    </details>
                    <details class="mb-1">
                        <summary><i class="fa-solid fa-chevron-right fa-secondary me-2 chevron"></i>Highly integrated
                            services</summary>
                        <p>
                            We offer a wide range of services to all of our clients that are highly integrated and
                            complementary
                            in
                            addition to
                            being all under one roof. Since we process our clients' requests and requirements using the
                            best
                            and
                            most up-to-date
                            technological infrastructure, no customer has ever had a service from us that was delayed or
                            omitted.
                            Integration is
                            essential to the success of our services because it allows all of our departments,
                            verticals,
                            and
                            service systems to
                            consistently provide the most valuable services to customers.
                        </p>
                    </details>
                    <details class="mb-1">
                        <summary><i class="fa-solid fa-chevron-right fa-secondary me-2 chevron"></i>Global community
                        </summary>
                        <p>
                            You inadvertently join a global community of people who use a variety of our study abroad,
                            visa,
                            and
                            immigration
                            services to improve their lives when you start working with us. In our efforts to give them
                            the
                            assistance they require,
                            we have gathered a wealth of valuable insights from our global community over the years.
                            Now, we
                            bring
                            all of our
                            knowledge and experience to you in order to help you modify, mold, and transform your lives
                            into
                            the
                            finest one you have
                            ever created.
                        </p>
                    </details>
                </div>
            </div>
        </div>
        <div class="col s12 m6">

        </div>
    </div>
</div>
<section class="container-fluid py-2 bg-primary-light-10">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="section-title">
                    See <span class="text-secondary">what</span> our clients are saying
                </h3>
                <div class="testimonials">
                    {% for testimony in testimonies %}
                    <div class="card z-depth-0">
                        <div class="card-image">
                            {% if testimony.witness.avatar %}
                            <img src="{{testimony.witness.avatar.url}}" height="250px" width="100%">
                            {% else %}
                            <img src="{% static 'images/common/user.png' %}" height="250px" width="100%">
                            {% endif %}
                            <span class="card-title card-title-with-hover mt-4">{{testimony.witness.get_full_name}}</span>
                        </div>
                        <div class="card-content">
                            <p class="truncated">{{testimony.testimony|safe}}</p>
                            <p><b>Nationality:</b>{{testimony.witness.nationality}}</p>
                            <p><b>Service:</b> {{testimony.witness.service_type}}</p>
                            <p><b>Country:</b> {{testimony.witness.preferred_country}}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'testimonials:testimonial' slug=testimony.slug %}">Read More</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container py-2 stats">
    <div class="row stats-row">
        <div class="col s12 m6 h-100">
            <div class="soft-shadow d-flex flex-column align-items-center justify-content-center p-4"
                style="height:100% !important">
                <i class="fa-solid fa-briefcase fa-secondary fa-6x"></i>
                <p class="stat m-0"><span id="projectsTotal"></span>+ Projects Finished</p>
            </div>
        </div>
        <div class="col s12 m6 h-100">
            <div class="soft-shadow d-flex flex-column justify-content-between p-4 h-100">
                <div class="stat-wrapper d-flex mb-2">
                    <i class="fa-solid fa-calendar fa-secondary fa-3x"></i>
                    <p class="stat m-0"><span id="yearsTotal"></span>+ Years of Experience</p>
                </div>
                <div class="stat-wrapper d-flex mb-2">
                    <i class="fa-solid fa-face-laugh-beam fa-secondary fa-3x"></i>
                    <p class="stat m-0"><span id="clientsTotal"></span>+ Happy Clients</p>
                </div>
                <div class="stat-wrapper d-flex mb-2">
                    <i class="fa-solid fa-user-group fa-secondary fa-3x"></i>
                    <p class="stat m-0"><span id="followersTotal"></span>+ Followers on Social Media</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid py-2 bg-primary-light-10">
    <section class="container py-2">
        <div class="row">
            <div class="col s12">
                <h3 class="section-title">
                    <span class="text-secondary">Latest</span> from our blog
                </h3>
                {% if posts %}
                <div class="blog">
                    {% for post in posts %}
                    <div class="card z-depth-0">
                        <div class="card-image">
                            <img src="{{post.image.url}}" height="150px">
                        </div>
                        <h4 class="card-title">{{post.title}}</h4>
                        <div class="blog-meta px-1">
                            <span class="text-secondary">
                                <i class="fa-solid fa-calendar-days"></i>
                                <small>{{post.created_on}}</small>
                            </span>
                        </div>
                        <div class="card-content">
                            <span class="truncated">
                                <p class="truncated">
                                    {{post.epigraph|safe}}
                                </p>
                                <a href="{% url 'blog:post_detail' post.slug %}" class="link">READ MORE</a>
                            </span>

                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="row">
                    <div class="col s12">
                        <div class="py-2">
                            <a href="{% url 'blog:posts' %}" class="section-subtitle">View Blog <i class="fa-solid fa-angles-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<div class="container py-2">
    <div class="row">
        <div class="col s12">
            <h3 class="section-title">
                Our <span class="text-secondary">Partners</span>
            </h3>
            <div class="partners-grid">
                {% for partner in partners %}
                <div class="partner">
                    <img src="{{ partner.logo.url }}" >
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<section class="container-fluid py-2 bg-primary-light-10">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="section-title">
                    Key <span class="text-secondary">Locations</span>
                </h3>
                <div class="locations-grid">
                    <div class="location d-flex align-items-center" style="gap:10px">
                        <img src="{% static 'images/index/locations/middle-east-img.png' %}" height="50px">
                        <div>
                            <p class="m-0"><i class="fa-solid fa-location-dot fa-secondary"></i> Qatar</p>
                            <p class="m-0"><i class="fa-regular fa-address-book fa-secondary"></i> Doha</p>
                        </div>
                    </div>
                    <div class="location d-flex align-items-center" style="gap:10px">
                        <img src="{% static 'images/index/locations/middle-east-img.png' %}" height="50px">
                        <div>
                            <p class="m-0"><i class="fa-solid fa-location-dot fa-secondary"></i> U.A.E</p>
                            <p class="m-0"><i class="fa-regular fa-address-book fa-secondary"></i> Dubai</p>
                        </div>
                    </div>
                    <div class="location d-flex align-items-center" style="gap:10px">
                        <img src="{% static 'images/index/locations/middle-east-img.png' %}" height="50px">
                        <div>
                            <p class="m-0"><i class="fa-solid fa-location-dot fa-secondary"></i> Poland</p>
                            <p class="m-0"><i class="fa-regular fa-address-book fa-secondary"></i> Warsaw</p>
                        </div>
                    </div>
                    <div class="location d-flex align-items-center" style="gap:10px">
                        <img src="{% static 'images/index/locations/middle-east-img.png' %}" height="50px">
                        <div>
                            <p class="m-0"><i class="fa-solid fa-location-dot fa-secondary"></i> Europe</p>
                            <p class="m-0"><i class="fa-regular fa-address-book fa-secondary"></i> Schengen Region</p>
                        </div>
                    </div>
                    <div class="location d-flex align-items-center" style="gap:10px">
                        <img src="{% static 'images/index/locations/middle-east-img.png' %}" height="50px">
                        <div>
                            <p class="m-0"><i class="fa-solid fa-location-dot fa-secondary"></i> Canada</p>
                            <p class="m-0"><i class="fa-regular fa-address-book fa-secondary"></i> Toronto</p>
                        </div>
                    </div>
                    <div class="location d-flex align-items-center" style="gap:10px">
                        <img src="{% static 'images/index/locations/middle-east-img.png' %}" height="50px">
                        <div>
                            <p class="m-0"><i class="fa-solid fa-location-dot fa-secondary"></i> United States</p>
                            <p class="m-0"><i class="fa-regular fa-address-book fa-secondary"></i> Washington DC</p>
                        </div>
                    </div>
                    <div class="location d-flex align-items-center" style="gap:10px">
                        <img src="{% static 'images/index/locations/middle-east-img.png' %}" height="50px">
                        <div>
                            <p class="m-0"><i class="fa-solid fa-location-dot fa-secondary"></i> United Kingdom</p>
                            <p class="m-0"><i class="fa-regular fa-address-book fa-secondary"></i> London</p>
                        </div>
                    </div>
                    <div class="location d-flex align-items-center" style="gap:10px">
                        <img src="{% static 'images/index/locations/middle-east-img.png' %}" height="50px">
                        <div>
                            <p class="m-0"><i class="fa-solid fa-location-dot fa-secondary"></i> Australia</p>
                            <p class="m-0"><i class="fa-regular fa-address-book fa-secondary"></i> Canberra</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="soft-shadow my-4 p-4">
                    <a class="link" href="{% url 'job:create_job' %}">
                        POST A VACANCY FOR INSTANT APPLICATIONS TODAY
                        <i class="fa-solid fa-link"></i>
                    </a>
                    <p>We will sift through the hundreds of applications and only show you the best ones</p>
                    <a href="{% url 'shortlist:openings' %}" class="btn btn-secondary">Or apply to the available
                        openings today!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container py-2">
    <div class="row">
        <div class="col s12">
            <h3 class="section-title">
                Talk to us today
            </h3>
            <div class="d-flex interact justify-content-between">
                <div class="d-flex contacts justify-content-between align-items-center pe-2" style="flex-basis: 50%;">
                    <span><i class="fa-solid fa-phone fa-secondary"></i> +254 0712 428 640</span>
                    <span><i class="fa-solid fa-envelope fa-secondary"></i> infinitetalent2021@gmail.com</span>
                </div>
                <div class="d-flex socials justify-content-end align-items-center flex-1" style="gap:20px">
                    <p><b>Interact with us:</b></p>
                    <i class="fa-brands fa-2x fa-secondary fa-facebook"></i>
                    <i class="fa-brands fa-2x fa-secondary fa-twitter"></i>
                    <i class="fa-brands fa-2x fa-secondary fa-linkedin"></i>
                    <i class="fa-brands fa-2x fa-secondary fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick/slick_init.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}