{% load static %}
{% load i18n %}
<form action="{% url 'accounts:registration' %}" method="post" class="auth-form"
    hx-post="{% url 'accounts:registration' %}" hx-swap="innerHTML" hx-target="#htmx-parent" hx-indicator="#spinner">
    {% csrf_token %}
    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input type="text" value="{{request.session.registration_details.first_name}}" id="first_name"
                name="first_name" class="form-control" placeholder="First Name" />
            <div class="error-container">
                {% for error in form.first_name.errors %}
                <p class="error e">{{ error|escape }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input type="text" value="{{request.session.registration_details.last_name}}" id="last_name"
                name="last_name" class="form-control" placeholder="Last Name" />
            <div class="error-container">
                {% for error in form.last_name.errors %}
                <p class="error e">{{ error|escape }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input type="email" value="{{request.session.registration_details.email}}" id="email" name="email"
                class="form-control" placeholder="Email" />
            <div class="error-container">
                {% for error in form.email.errors %}
                <p class="error e">{{ error|escape }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input type="password" id="password1" name="password1" class="form-control" placeholder="Password" />
            <div class="error-container">
                {% for error in form.password1.errors %}
                <p class="error e">{{ error|escape }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input type="password" id="password2" name="password2" class="form-control"
                placeholder="Repeat your password" />
            <div class="error-container">
                {% for error in form.password2.errors %}
                <p class="error e">{{ error|escape }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="form-check flex-column justify-content-center mb-5">
        {{form.captcha}}
        <div class="error-container">
            {% for error in form.captcha.errors %}
            <p class="error e">{{ error|escape }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="form-check flex-column justify-content-center mb-5">
        <input class="form-check-input me-2" type="checkbox" name="terms" id="terms"
            {% if request.session.registration_details.terms %}checked{% endif %} />
        <label class="form-check-label" for="terms">
            I agree to the <a href="#">Terms of service</a>
        </label>
        <div class="error-container">
            {% for error in form.terms.errors %}
            <p class="error e">{{ error|escape }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg">Register</button>
    </div>

    <div class="form-check d-flex justify-content-center mb-5">
        <label class="form-check-label" for="form2Example3">
            Already have an account? <a href="{% url 'accounts:login' %}">Log in</a>
        </label>
    </div>
</form>
<div class="htmx-indicator" id="spinner">
    <img src="{% static 'images/common/puff.svg' %}" height="80" width="80" alt="loader" />
</div>