.indicator{
    position: absolute;
    top: 0;
    z-index:1;
    width: auto;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    height: 100vh;
    width: 100%;
    background: rgba(244, 249, 236, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.htmx-parent {
    position: relative;
}

.htmx-indicator{
    opacity:0;
    transition: opacity 500ms ease-in;
}

.htmx-request.htmx-indicator{
    opacity:1;
    position: absolute;
    top: 0;
    z-index:1;
    width: auto;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    height: 100%;
    width: 100%;
    background: rgba(244, 249, 236, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-title {
    font-weight: 600;
    margin: 0;
    border-bottom: solid 0.02em var(--color-primary);
    padding-bottom: 5px;
}
.form-container {
  padding: 20px;
}

.form-wrapper {
    margin-top: 50px;
}
