{% extends 'common/base.html' %}
{% block title %}About{% endblock %}
{% load shortlist_extras %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/shortlist/openings.css' %}">
{% endblock %}
{% block content %}
<div class="container pb-2 browser-default">
    <div class="row">
        <div class="col s12 my-2">
            <div class="col s12 m6">
                <div class="d-flex align-items-center">
                    <h5 class="p-0 m-0">{{opening}}</h5>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="d-flex align-items-center brands justify-content-end">
                    <p class="me-1 p-0 m-0">Share across social media</p>
                    <i class="fa-solid fa-grip-lines-vertical me-1"></i>
                    <i class="fa-brands fa-primary fa-facebook me-1"></i>
                    <i class="fa-brands fa-primary fa-square-twitter me-1"></i>
                    <i class="fa-brands fa-primary fa-linkedin me-1"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="ms-1">{{opening.description|safe}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="mx-4">
                <p class="m-0"><b>Created: </b>{{opening.created}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="mx-4">
                <p class="m-0"><b>Requirements</b></p>
                <p class="m-0">{{opening.requirements|safe}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="mx-4">
                <p class="m-0"><b>City: </b>{{opening.city}}</p>
                <p class="m-0"><b>Recruiter: </b>{{opening.job_owner}}</p>
                <p class="m-0"><b>Working Hours: </b>{{opening.working_hours}}</p>
                <p class="m-0"><b>Experience: </b>{{opening.experience|safe}}</p>
                <p class="m-0"><b>Industry: </b>{{opening.industry}}</p>
                <p class="m-0"><b>Salary(USD): </b>{{opening.proposed_remuneration}}</p>
                <p class="m-0"><b>Openings: </b>{{opening.openings}}</p>
                <p class="m-0"><b>Contract Length: </b>{{opening.length_of_hire}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="mx-4">
                {% if user.is_authenticated %}
                {% if opening|is_applied_to:user %}
                <i class="fa-solid fa-circle-check fa-secondary fa-2x"></i>
                {% else %}
                <form action="{% url 'shortlist:apply' next=request.path %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="listing" value="{{opening.pk}}">
                    <button class="btn btn-primary">Apply</button>
                </form>
                {% endif %}
                {% else %}
                <form action="{% url 'shortlist:apply' next=request.path %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="listing" value="{{opening.pk}}">
                    <button class="btn btn-primary">Apply</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container pb-2">
    <div class="row">
        <div class="col s12">
            <h5>Similar Jobs</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="grid">
                {% if similar %}
                {% for job in similar %}
                <div class="grid-col">
                    <p class="title">{{job.title}}</p>
                    <p class="m-0">Openings: {{job.openings}}</p>
                    <p class="m-0">City: {{job.city}}</p>
                    <p class="m-0">Salary(USD): {{job.proposed_remuneration}}</p>
                    <p class="m-0">Recruiter: {{job.job_owner.email}}</p>
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        {% if user.is_authenticated %}
                        {% if job|is_applied_to:user %}
                        <i class="fa-solid fa-circle-check fa-secondary fa-2x"></i>
                        {% else %}
                        <form action="{% url 'shortlist:apply' next=request.path %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="listing" value="{{job.pk}}">
                            <button class="btn btn-primary">Apply</button>
                        </form>
                        {% endif %}
                        {% else %}
                        <form action="{% url 'shortlist:apply' next=request.path %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="listing" value="{{job.pk}}">
                            <button class="btn btn-primary">Apply</button>
                        </form>
                        {% endif %}
                        <a href="{% url 'shortlist:opening' slug=job.slug %}" class="btn btn-secondary">View More</a>
                    </div>
                </div>
                {% endfor %}
                <div class="grid-col d-flex align-items-center justify-content-center apply-similar-container">
                    <a href="{% url 'shortlist:industry_openings' slug=opening.industry.slug %}" class="btn btn-secondary">View All</a>
                </div>
                {% else %}
                <p>There are no similary jobs at the moment.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}