{% extends 'common/base.html' %}
{% block title %}Openings{% endblock %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/shortlist/openings.css' %}">
<link rel="stylesheet" href="{% static 'css/index/index.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/registration/registration.css' %}" />
<link rel="stylesheet" href="{% static 'css/common/inputs.css' %}" />
{% endblock %}
{% block content %}
<div class="container htmx-parent d-flex flex-column" id="htmx-parent">
    {% include 'shortlist/partials/openings.html' %}
</div>
{% endblock %}