{% extends 'common/base.html' %}
{% block title %}Blog{% endblock %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/blog/common.css' %}">
<link rel="stylesheet" href="{% static 'css/blog/post_list.css' %}">
{% endblock %}
{% block content %}
<section class="container py-4 richtext">
    <div class="row search-form">
        <div class="col s12">
            <div class="d-flex">
                <form action="{% url 'blog:blog_search' %}" method="get" class="d-flex flex-1">
                    <input class="text-input" type="text" placeholder="M-pesa, E-commerce, Blog ..." name="blog_search"
                        value="{{request.session.blog_search}}">
                    <button type="submit" id="searchBtn" class="btn btn-primary"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                {% if request.session.blog_search %}
                <form method="get" style="min-height: 100%;" action="{% url 'blog:clear_search' %}">
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-xmark"
                            title="clear sort"></i></button>
                </form>
                {% endif %}
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <header class="">
                <h3 class="text-primary bg-primary-light-10 p-2">Articles</h3>
            </header>
        </div>
    </div>

    {% if paginator.count > 0 %}
    <div class="row">
        <div class="col s12">
            <p class="m-0">Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
            <p class="small">
                {% with page_obj|length as records %}
                {{records}} record{{ records|pluralize }} of {{records}}
                {% endwith %}
            </p>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col s12">
            {% for post in posts %}
            <div class="post d-flex">
                <div class="image">
                    <img src="{{post.image.url}}" alt="{{post}}" height="100%" width="100%">
                </div>
                <div class="content p-2">
                    <a class="undecorated text-secondary m-tb-20" href="{% url 'blog:post_detail' post.slug %}">
                        <h4 class="m-0">{{post}}</h4>
                    </a>
                    <p class="muted m-tb-20">{{ post.created_on }} / {{post.read_time}}</p>
                    <span class="epigraph m-tb-40">
                        {% autoescape off %}
                        {{ post.epigraph|safe }}
                        {% endautoescape %}
                    </span>
                    <a class="undecorated text-secondary m-tb-20" href="{% url 'blog:post_detail' post.slug %}">Read
                        Article <i class="fa-solid fa-angles-right"></i></a>
                </div>
            </div>
            {% empty %}
            <p>Hmm..nothing here 🤔</p>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    {% if not form.errors %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% endif %}

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

</section>
{% endblock %}