.section-title, .section-title span {
    font-size: 1.8rem;
}

.section-title {
    display: inline-block;
    padding-bottom: 0.3rem;
    position: relative;
}

.section-title:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 0.2rem solid #E34824;
}

.truncate-four p{
     overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4;
   -webkit-box-orient: vertical;
}

.section-subtitle {
    font-size: 1.25rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    gap: 3%;
}

.testimonials .card .card-image .card-title {
    background: var(--color-secondary);
    font-weight: 600;
}

.card-title {
    padding: 10px 15px !important;
    width: 100%;

}

.card-title h3 {
    font-size: 1.4rem !important;
    margin: 0;
}

.card:hover .card-title-with-hover {
    background-color: #1B3F6B;
}

.about-card .card-image {
    flex-basis: 40%;
}

.about-card .card-content{
    flex-basis: 60%;
}

.summary summary {
    font-size: 1.2rem;
}

summary{
    cursor: pointer;
    padding: 0;
    content: "";
}


/* details > summary::marker {
    font-size: 2.5rem;
    white-space: break-spaces;
    color: #E34824;
} */

details > summary {
    list-style-type: '';
    vertical-align: middle;
}


details[open] > summary {
    list-style-type: '';
}

.blog .card-image, .blog-meta {
    width: 100%;
}

.blog .card-content {
    padding: 0 10px;
}

.blog .card-title {
    padding: 5px 10px !important;
    margin: 0;
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
}

.blog .slick-track{
  float: left;
  height: 350px !important;
}

.blog .slick-dots {
  left: calc(-50% + 27px + 0.75rem);
}

.blog  .slick-slide {
    margin-right: 27px;
    justify-content: space-between;
    padding-bottom: 10px;
}

.blog .card-content {
    width: 100%;
}

.slick-list {
    margin-right: -27px;
}

.truncated, .truncated p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.partners-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(18%, 1fr));
    gap: 2%;
}

.partner {
    border: solid 0.05em #A0A0A0;
    height: 50px;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.partner:hover {
    box-shadow: 0px 0px 20px #00000020;
	background-color: white;
    transform: scale(1.1);
}

.stat, #projectsTotal, #yearsTotal, #clientsTotal, #followersTotal {
    font-size: 1.4rem;
}


.stat-wrapper .fa-solid {
    width: 60px;
}

.locations-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(20%, 1fr));
    gap: 20px;
}

.services .card-image {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail-container {
    border: solid 0.05em #1B3F6B;
    padding: 15px;
    border-radius: 50% !important;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.service-thumbnail{
    width: 100px !important;
    height: 100px !important;
    top: unset !important;
}

.stats-row {
    height: 350px;
}

@media screen and ( min-width: 601px ) and ( max-width: 1024px ){
    .locations-grid {
        grid-template-columns: repeat(3, minmax(33%, 1fr));
    }
    .cards {
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        gap: 2%;
    }
    .partners-grid {
        grid-template-columns: repeat(4, minmax(24%, 1fr));
        gap: 1.25%;
    }
    .contacts {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .socials p{
        font-size: 1rem;
    }
}
@media screen and ( max-width: 600px ){
    .cards {
        grid-template-columns: 1fr;
    }
    .locations-grid {
        grid-template-columns: repeat(2, minmax(50%, 1fr));
    }
    .about-card {
        flex-direction: column;
    }
    .partners-grid {
        grid-template-columns: repeat(2, minmax(50%, 1fr));
    }
    .stat-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .p-4 {
        padding: 10px !important;
    }
    .interact, .contacts {
        flex-direction: column;
    }
    .contacts {
        align-items: flex-start;
    }
    .socials {
        justify-content: flex-start;
    }
    .stats-row {
        height: auto;
    }
    .stats-row .col{
        margin-bottom: 10px;
    }
    .blog .slick-dots{
        left: unset;
    }
    .cards {
        gap: unset;
    }
}

@media screen and ( max-width: 1024px ){
    .card-title h3 {
        font-size: 1.4rem !important;
        margin: 10px;
    }
}

