.services-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(48%, 1fr));
    column-gap: 2%;
}

.card .card-content p {
    margin: 0;
}

.carousel-wrapper {
    height: auto;
    padding: 0 15%;
}

.card-content {
    position: relative;
}

.card .card-content {
    padding: 0;
}

.card-title {
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    width: 100%;
    color: white;
    margin-bottom: unset !important;
}

.overlay {
    margin: 0 !important;
    display: none;
    position: absolute;
    z-index: 1;
    -webkit-transition: height 0.5s linear;
    -moz-transition: height 0.5s linear;
    -o-transition: height 0.5s linear;
    transition: height 0.5s linear;
    bottom: 0;
    padding: 2px;
}

.overlay p {
    color: white;
}

/* .card:hover .overlay {
    display: block;
} */

.z-depth-0 {
    border: solid 0.05em #c0c0c0;
}

.card:hover .card-title  {
    visibility: hidden;
    opacity: 0;
}

@media screen and ( max-width: 600px ){
    .services-grid {
        grid-template-columns: 1fr;
    }
}

