{% extends 'common/base.html' %}
{% block title %}Job Seeker Registration
{% endblock %}
{% load static %}
{% load i18n %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/accounts/common.css' %}" />
<link rel="stylesheet" href="{% static 'css/accounts/registration/registration.css' %}" />
<link rel="stylesheet" href="{% static 'css/common/inputs.css' %}" />
<link rel="stylesheet" href="{% static 'css/accounts/registration/staff/registration.css' %}" />
{% endblock %} {% block content %}

<div class="container htmx-parent" id="htmx-parent">
    {% include 'accounts/registration/staff/partials/staff_registration.html' %}
</div>
{% endblock %} {% block scripts %} {{ block.super }}
<script src="{% static 'js/common/material_init.js' %}"></script>
<script src="{% static 'js/accounts/registration/registration.js' %}"></script>
{% endblock %}