{% extends 'common/base.html' %}
{% block title %}About{% endblock %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/common/hero.css' %}">
<link rel="stylesheet" href="{% static 'css/about/index.css' %}">
{% endblock %}
{% block content %}
<section class="container-fluid background-image bg-primary"
    style="background-image: url('{% static 'images/index/city-min.webp' %}')">
    <div class="carousel-wrapper">
        <div class="row h-100">
            <div class="col s12 h-100 text-white">
                <div class="d-flex flex-column align-items-center justify-content-center text-center h-100">
                    <h2 class="hero-title">
                        {{about.title}}
                    </h2>
                    <p class="hero-text">
                        {{about.sub_title}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container py-2">
    <div class="row">
        <div class="col s12">
            <div class="d-flex">
                <h3 class="section-title">Our <span class="text-secondary">Story</span></h3>
            </div>
            <p class="section-text">
                {{ about.our_story|safe }}
            </p>
        </div>
    </div>
</section>
<section class="container py-2">
    <div class="row">
        <div class="col s12">
            <div class="d-flex">
                <h3 class="section-title">Driven by a <span class="text-secondary">Mission</span></h3>
            </div>
            <p class="section-text">
                {{ about.our_mission|safe }}
            </p>
        </div>
    </div>
</section>
<section class="container-fluid py-2 bg-primary-light-10">
    <div class="container stats">
        <div class="row">
            <div class="col s12">
                <div class="d-flex">
                    <h3 class="section-title">
                        <span class="text-secondary">Numbers</span> that make us Proud
                    </h3>
                </div>
            </div>
        </div>
        <div class="row stats-row">
            <div class="col s12 m6 h-100 mb-2">
                <div class="d-flex flex-column align-items-center justify-content-center p-4 soft-shadow"
                    style="height:100% !important">
                    <i class="fa-solid fa-briefcase fa-secondary fa-6x"></i>
                    <p class="stat m-0"><span id="projectsTotal"></span>+ Projects Finished</p>
                </div>
            </div>
            <div class="col s12 m6 h-100 mb-2">
                <div class="d-flex flex-column justify-content-between px-4 h-100">
                    <div class="stat-wrapper d-flex soft-shadow mt-1 align-items-center">
                        <i class="fa-solid fa-calendar fa-secondary fa-secondary fa-3x"></i>
                        <p class="stat m-0"><span id="yearsTotal"></span>+ Years of Experience</p>
                    </div>
                    <div class="stat-wrapper d-flex soft-shadow mt-1 align-items-center">
                        <i class="fa-solid fa-face-laugh-beam fa-secondary fa-secondary fa-3x"></i>
                        <p class="stat m-0"><span id="clientsTotal"></span>+ Happy Clients</p>
                    </div>
                    <div class="stat-wrapper d-flex soft-shadow mt-1 align-items-center">
                        <i class="fa-solid fa-user-group fa-secondary fa-secondary fa-3x"></i>
                        <p class="stat m-0"><span id="followersTotal"></span>+ Followers on Social Media</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container py-2">
    <div class="row">
        <div class="col s12">
            <div class="d-flex">
                <h3 class="section-title">How do we <span class="text-secondary">serve</span> you?</h3>
            </div>
            <p class="section-text">
                {{ about.our_service|safe }}
            </p>
            <ul class="section-text fa-ul">
                {% for service in services %}
                <li><span class="fa-li"><i class="fa-solid fa-check-circle"></i></span>{{service}}</li>
                {% empty %}
                <p>Hold on, we are setting up our services.</p>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<section class="container-fluid py-2 bg-primary-light-10">
    <section class="container">
        <div class="row">
            <div class="col s12">
                <div class="d-flex">
                    <h3 class="section-title">The <span class="text-secondary">people</span> behind our success</h3>
                </div>
                <div class="people-grid">
                    {% for staff in staff %}
                    <div class="person">
                        {% if staff.staff.avatar %}
                        <img src="{{ staff.staff.avatar.url }}" class="avatar">
                        {% else %}
                        <img src="{% static 'images/common/user.png' %}" class="avatar">
                        {% endif %}

                        <div class="prof ps-2">
                            <h6><b>{{staff.staff.get_full_name}}</b></h6>
                            <p class="m-0">{{staff.role}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</section>
<section class="container py-2">
    <div class="row">
        <div class="col s12">
            <div class="d-flex">
                <h3 class="section-title">The <span class="text-secondary">values</span> that guide us</h3>
            </div>
            <div id="wrapper">
                <div class="block">
                    <div class="soft-shadow h-100 d-flex flex-column justify-content-between">
                        <i class="fa-solid fa-people-group fa-secondary fa-3x"></i>
                        <h4 class="value-title">Team Work</h4>
                        <div class="value">
                            <p class="m-0">
                                We rely on one another for knowledge obtained from experience, information,
                                and different perspectives. We accomplish relying on one another.</p>
                        </div>
                    </div>
                </div>
                <div class="block wide">
                    <div class="soft-shadow h-100 d-flex flex-column justify-content-between">
                        <i class="fa-solid fa-screwdriver-wrench fa-secondary fa-3x"></i>
                        <h4 class="value-title">Accountability</h4>
                        <div class="value">
                            <p class="m-0">
                                We keep our promises to both our clients and one another. We
                                are aware that if we don't perform as expected, our clients, coworkers, and the business
                                will suffer. Even if it is
                                inconvenient or difficult, we go to great lengths to keep our promises.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="block tall">
                    <div class="soft-shadow h-100 d-flex flex-column justify-content-between">
                        <i class="fa-solid fa-hand-holding-hand fa-secondary fa-3x"></i>
                        <h4 class="value-title">Customer First</h4>
                        <div class="value">
                            <p class="m-0">
                                We are devoted to paying attention to and meeting the demands of our customers since we
                                understand that they are the
                                reason for our commercial success. For more than five years, we've been enhancing our
                                services and discovering new ways
                                to better serve our customers.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="soft-shadow h-100 d-flex flex-column justify-content-between">
                        <i class="fa-solid fa-scale-balanced fa-secondary fa-3x"></i>
                        <h4 class="value-title">Integrity</h4>
                        <div class="value">
                            <p class="m-0">
                                We do the right thing even if no one is watching. This also translates to valuing
                                honesty, transparency, and a
                                dedication to doing what is best for our consumers.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="soft-shadow h-100 d-flex flex-column justify-content-between">
                        <i class="fa-solid fa-person-praying fa-secondary fa-3x"></i>
                        <h4 class="value-title">Gratitude</h4>
                        <div class="value">
                            <p class="m-0">
                                We are a company that prides itself in appreciating all our stakeholders. We appreciate
                                you
                                as our client and look forward to serving you
                            </p>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="soft-shadow h-100 d-flex flex-column justify-content-between">
                        <i class="fa-solid fa-hand-fist fa-secondary fa-3x"></i>
                        <h4 class="value-title">Passion</h4>
                        <div class="value">
                            <p class="m-0">
                                We are a team that loves our work, who are interested and excited about it, and actively
                                engaged with the day-to-day
                                difference they are making.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="container-fluid py-2 bg-primary-light-10">
    <section class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="section-title">
                    Our <span class="text-secondary">Partners</span>
                </h3>
                <div class="partners-grid">
                    {% for partner in partners %}
                    <div class="partner">
                        <img src="{{ partner.logo.url }}" height="100%" width="100%">
                    </div>
                    {% empty %}
                    <p>We are setting up our partners</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</section>
<section class="container py-2">
    <div class="row">
        <div class="col s12">
            <h3 class="section-title">
                Talk to us today
            </h3>
            <div class="d-flex interact justify-content-between">
                <div class="d-flex contacts justify-content-between align-items-center pe-2" style="flex-basis: 40%;">
                    <span><i class="fa-solid fa-phone fa-secondary"></i> +254 0712 428 640 / +254 723 343 813 </span>
                    <span><i class="fa-solid fa-envelope fa-secondary"></i> infinitetalent2021@gmail.com</span>
                </div>
                <div class="d-flex socials justify-content-end align-items-center flex-1" style="gap:20px">
                    <p><b>Interact with us:</b></p>
                    <a href="https://www.facebook.com/yourpage" target="_blank"><i class="fa-brands fa-2x fa-secondary fa-facebook"></i></a>
                    <a href="https://twitter.com/yourpage" target="_blank"><i class="fa-brands fa-2x fa-secondary fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/yourprofile" target="_blank"><i class="fa-brands fa-2x fa-secondary fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/infinitetalent1/" target="_blank"><i class="fa-brands fa-2x fa-secondary fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@jobsconnects" target="_blank"><i class="fa-brands fa-2x fa-secondary fa-tiktok"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}
