<footer class="bg-primary text-white">
  <div class="container py-4">
    <div class="row">
      <div class="col s12 m3">
        <h6 class="footer-title">
          Address
        </h6>
        <address>
          <span class="fa-secondary"><i class="fa-solid fa-phone"></i> +254 723 343 813</span> <br>
          <span class="fa-secondary"><i class="fa-solid fa-mobile-screen-button"></i> +254 712 428 640</span> <br>
          <span class="fa-secondary"><i class="fa-solid fa-envelope"></i> info@infinitetalent.co.ke</span> <br>
          <span class="fa-secondary"><i class="fa-solid fa-address-book"></i> Muthaiga Square, Thika road.</span> <br>
          <span class="fa-secondary"><i class="fa-solid fa-location-pin"></i> Nairobi, Kenya</span> <br>
        </address>
      </div>
      <div class="col s12 m3">
        <h6 class="footer-title">
          Quick Links
        </h6>
        <ul class="footer-links">
          <li class="footer-link">
            <a class="link" href="{% url 'about:index' %}">About Us</a>
          </li>
          <li class="footer-link">
            <a class="link" href="{% url 'contact:index' %}">Contact Us</a>
          </li>
          <li class="footer-link">
            <a class="link" href="{% url 'index:services' %}">Services</a>
          </li>
          <li class="footer-link"><a class="link" href="{% url 'index:visa' %}">Visas</a></li>

          <li class="footer-link">
            <a class="link" href="{% url 'shortlist:openings' %}">Openings</a>
          </li>
          <li class="footer-link">
            <a class="link" href="{% url 'careers:index' %}">Careers</a>
          </li>
        </ul>
      </div>
      <div class="col s12 m3">
        <h6 class="footer-title">
          Testimonials
        </h6>
        <ul class="footer-links">
          <li class="footer-link">
            <a class="link" href="{% url 'testimonials:index' %}">Client Reviews</a>
          </li>
          <li class="footer-link">
            <a class="link" href="{% url 'testimonials:best_testimonies' %}">Best of Success Stories</a>
          </li>
        </ul>
      </div>
      <div class="col s12 m3">
        <h6 class="footer-title">
          Blog
        </h6>
        <ul class="footer-links">
          {% for post in posts %}
          <li class="footer-link">
            <a class="link" href="{% url 'blog:post_detail' post.slug %}">{{post}}</a>
          </li>
          {% endfor %}
          <li class="footer-link">
            <a class="link" href="{% url 'blog:posts' %}">More>></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid copyright py-1">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="text-secondary d-flex justify-content-between align-items-center footer-base">
            <p class="m-0 text-secondary">© Infinite Talent Limited 2018-2024</p>
            <p class="m-0"><a class="link" href="#">Terms and Privacy</a></p>
            <div>
              <div class="d-flex justify-content-end align-items-center flex-1" style="gap:20px">
                <a href="https://web.facebook.com/profile.php?id=100092599658225" target="_blank" > <i class="fa-brands fa-2x fa-secondary fa-facebook"></i></a> 
                <a href="https://twitter.com/InfiniteTalent1/" target="_blank" > <i class="fa-brands fa-2x fa-secondary fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/yourprofile/" target="_blank" > <i class="fa-brands fa-2x fa-secondary fa-linkedin"></i></a>
                <a href="https://www.instagram.com/infinitetalent1/" target="_blank" > <i class="fa-brands fa-2x fa-secondary fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@infinitetalent1" target="_blank" > <i class="fa-brands fa-2x fa-secondary fa-tiktok"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>