<footer class="bg-primary text-white">
  <div class="container py-4">
    <div class="row">
      <div class="col s12 m3">
        <h4 class="footer-title">
          Address
        </h4>
        <address>
          <span class="fa-secondary"><i class="fa-solid fa-phone"></i> +254 0712 428 640</span> <br>
          <span class="fa-secondary"><i class="fa-solid fa-envelope"></i> infinitetalent2021@gmail.com</span> <br>
          <span class="fa-secondary"><i class="fa-solid fa-address-book"></i> P.O. Box 12334</span> <br>
          <span class="fa-secondary"><i class="fa-solid fa-location-pin"></i> Nairobi, Kenya</span> <br>
        </address>
      </div>
      <div class="col s12 m3">
        <h4 class="footer-title">
          Quick Links
        </h4>
        <ul class="footer-links">
          <li class="footer-link">
            <a href="{% url 'about:index' %}">About Us</a>
          </li>
          <li class="footer-link">
            <a href="{% url 'contact:index' %}">Contact Us</a>
          </li>
          <li class="footer-link">
            <a href="#">Openings</a>
          </li>
        </ul>
      </div>
      <div class="col s12 m3">
        <h4 class="footer-title">
          Testimonials
        </h4>
        <ul class="footer-links">
          <li class="footer-link">
            <a href="#">Client Reviews</a>
          </li>
          <li class="footer-link">
            <a href="#">Success Stories</a>
          </li>
        </ul>
      </div>
      <div class="col s12 m3">
        <h4 class="footer-title">
          Blog
        </h4>
        <ul class="footer-links">
          <li class="footer-link">
            <a href="#">blog 1</a>
          </li>
          <li class="footer-link">
            <a href="#">blog 2</a>
          </li>
          <li class="footer-link">
            <a href="#">blog 3</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid copyright py-2">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="p-4 text-secondary">
            © Infinite Talent Limited 2018-2023
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>