{% extends 'common/base.html' %}
{% block title %}About{% endblock %}
{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/accounts/registration/registration.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/common.css' %}">
{% endblock %}
{% block content %}

<section class="px-5 h-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-sm-4 h-100 d-flex flex-column justify-content-center align-items-center">
        <div class="text-center">
          <h4>Job Seeker Registration Form</h4>
          <p>
            Do you want to build a career and life abroad? Our process is aimed at making your profile more accessible,
            attractive,
            and engaging for international employers. Join us today. Fill in the form to jump start your career.
          </p>
          <i class="fa-solid fa-file-circle-check fa-5x"></i>
        </div>
      </div>
      <div class="col-sm-8 h-100">
        <section class="form-section">
          <div class="form-container">
            <form>
              <div class="step step-1 active">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" id="firstName" name="first-name" />
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" id="lastName" name="last-name" />
                </div>
                <div class="form-group">
                  <label for="nickName">Nick Name</label>
                  <input type="text" id="nickName" name="nick-name" />
                </div>
                <button type="button" class="next-btn">Next</button>
              </div>
              <div class="step step-2">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" id="email" name="email" />
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="number" id="phone" name="phone-number" />
                </div>
                <button type="button" class="previous-btn">Prev</button>
                <button type="button" class="next-btn">Next</button>
              </div>
              <div class="step step-3">
                <div class="form-group">
                  <label for="country">country</label>
                  <input type="text" id="country" name="country" />
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" id="city" name="city" />
                </div>
                <div class="form-group">
                  <label for="postCode">Post Code</label>
                  <input type="text" id="postCode" name="post-code" />
                </div>
                <button type="button" class="previous-btn">Prev</button>
                <button type="submit" class="submit-btn">Submit</button>
              </div>
            </form>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/accounts/registration/registration.js' %}"></script>

{% endblock %}