<div class="step step-3 h-100">
    <div class="inputs">
        <div class="row">
            <div class="col s12">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Upload your Resume</span>
                        <input type="file" name="resume">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="linked_in_url" type="number" class="validate" name="linked_in_url">
                <label for="linked_in_url">LinkedIn URL</label>
            </div>
        </div>
    </div>
    <div class="btns">
        <button type="button" class="previous-btn">Prev</button>
        <button type="button" class="next-btn">Next</button>
    </div>
</div>