<div class="step step-1 active-step h-100">
    <div class="inputs">
        <div class="row">
            <div class="input-field col s6">
                <input required id="first_name" type="text" class="validate" name="first_name" autofocus>
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input required id="last_name" type="text" class="validate" name="last_name">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-row col s12">
                <label>Gender</label>
                <select required class="browser-default" name="phone_number">
                    <option value="" disabled selected>Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">I would rather not say</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col s4">
                <div style="margin-top: -8px;">
                    <label>Country Code</label>
                    {{form.country_code}}
                </div>

            </div>
            <div class="col s8 ">
                <div class="input-field">
                    <input required id="phone_number" type="number" class="validate" name="phone_number">
                    <label for="phone_number">Phone Number</label>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="input-row col s12">
                <label>Service Type</label>
                <select required class="browser-default" name="service_type">
                    <option value="" disabled selected>Service Type</option>
                    <option value="1">Sales and Marketing</option>
                    <option value="2">Power Plant</option>
                    <option value="3">Agricultural</option>
                    <option value="4">Automotive</option>
                    <option value="5">Food</option>
                    <option value="6">Mechanical and Plumbing</option>
                    <option value="7">Construction Worker</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col input-row s12">
                <label>Preferred Country</label>
                {{form.preferred_country}}
            </div>
        </div>
    </div>

    <div class="btns">
        <button type="button" class="next-btn btn-navigate-form-step" disabled>Next</button>
    </div>
</div>