<div class="step step-2 h-100">
    <div class="inputs">
        <div class="row">
            <div class="col s12">
                <label>Nationality</label>
                <select class="browser-default" name="nationality">
                    <option value="" disabled selected>Nationality</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">I would rather not say</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label>Where do you currently reside</label>
                <select class="browser-default" name="residence">
                    <option value="" disabled selected>Country of residence</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">I would rather not say</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label for="date_of_birth">Date of Birth</label>
                <input id="date_of_birth" name="date_of_birth" type="text" class="datepicker">
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label>Highest Level of Education</label>
                <select class="browser-default" name="level_of_education">
                    <option value="" disabled selected>Highest Level of Education</option>
                    <option value="1">High School</option>
                    <option value="2">Diploma</option>
                    <option value="3">Bachelors</option>
                    <option value="4">Masters</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="years_of_work_experience" type="number" class="validate" name="years_of_work_experience">
                <label for="years_of_work_experience">Years of work Experience</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label>Your current type of Visa</label>
                <select class="browser-default" name="type_of_visa">
                    <option value="" disabled selected>Your current type of Visa</option>
                    <option value="1">Not Applicable</option>
                    <option value="2">Student Visa</option>
                    <option value="3">Tourist Visa</option>
                    <option value="4">Family Visa</option>
                    <option value="5">General Visit Visa</option>
                    <option value="6">Business Visit Visa</option>
                </select>
            </div>
        </div>
    </div>

    <div class="btns">
        <button type="button" class="previous-btn">Prev</button>
        <button type="button" class="next-btn">Next</button>
    </div>

</div>