<div class="step step-4 h-100">
	<div class="inputs">
		<div class="row">
			<div class="col s12">
				<label>Mode of Contact</label>
				{{form.mode_of_contact}}
				<div class="error-container">
					{% for error in form.mode_of_contact.errors %}
					<p class="error e">{{ error|escape }}</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="btns">
		{% include 'accounts/registration/partial/prev_button.html' %}
		{% include 'accounts/registration/partial/next_button.html' %}
	</div>
</div>