<div class="step step-4 h-100">
	<div class="inputs">
		<div class="row">
			<div class="col s12">
				<label>Mode of Contact</label>
				<select class="browser-default" name="mode_of_contact">
					<option value="" disabled selected>How can we contact you?</option>
					<option value="1">Call</option>
					<option value="2">WhatsApp</option>
					<option value="3">Email</option>
				</select>
			</div>
		</div>
	</div>
	<div class="btns">
		<button type="button" class="previous-btn">Prev</button>
		<button type="button" class="next-btn">Next</button>
	</div>
</div>