<div class="step step-3 h-100">
	<div class="inputs">
		<div class="row">
			<div class="col s12">
				<div class="file-field input-field">
					<div class="row">
						<div class="col s12">
							<div class="btn">
								<span>Upload your Resume</span>
								<input type="file" name="resume" accept=".pdf" required />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" name="resume_path" />
							</div>
						</div>
					</div>
					<div class="error-container">
						{% for error in form.resume.errors %}
						<p class="error e">{{ error|escape }}</p>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="linkedin_url" type="url" name="linkedin_url"
					value="{{request.session.registration_details.linkedin_url}}" />
				<label for="linkedin_url">LinkedIn URL</label>
				<div class="error-container">
					{% for error in form.linkedin_url.errors %}
					<p class="error e">{{ error|escape }}</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="btns">
		<button type="button" class="previous-btn btn-navigate-form-step">Prev</button>
		<button type="button" class="next-btn btn-navigate-form-step">Next</button>
	</div>
</div>