.input-row, .input-field {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


input[type=text] {
    margin: 0 !important;
    padding-bottom: 0 !important;
    height: 2.9rem !important;
}

@media screen and ( max-width: 600px ){
    .container {
        width: 95% !important;
    }
}
