.hero-carousel, .slick-list, .slick-track, .slick-slide {
    height: 100% !important;
}
.slick-slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slick-prev:before, .slick-next:before{
    color:#E34824;
    font-size: 4rem;
}

.slick-arrow {
    height: 4rem;
    width: 4rem;
}

.slick-prev{
    display: inline-block;
    z-index: 2;
}

.hero-content {
    color: white;
}

@keyframes showup {
    0% {opacity:0;}
    25% {opacity:0.25;}
    50% {opacity:0.5;}
    75% {opacity:0.75;}
    100% {opacity:1;}
}

.slick-track,
.slick-list {
    -webkit-perspective: 2000px;
    -webkit-backface-visibility: hidden;
}

.outlined-secondary {
    color: white;
}

.slick-dots li button:before{
    font-size: 20px;
    line-height: 20px;
}

@media screen and ( min-width: 768px ) and ( min-width: 1023px ){
    .slide-wrapper {
        width: 600px;
    }
}

@media screen and ( min-width: 1024px ){
    .slide-wrapper {
        width: 700px;
    }
}


.testimonials .slick-slide {
    margin: 0 27px;
}

.testimonials .slick-list {
    margin: 0 -27px;
}

@media screen and ( max-width: 600px ){
    .carousel-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero-content .btn {
        font-size: 0.9rem;
    }
    .flex-buttons {
        width: 100%;
        justify-content: space-around;
    }
    .hero-title {
        margin: 5px 0;
        font-size: 1.8rem;
    }
}

